.fondo-gris-oscuro {
  background-color: #343434; }

.fondo-blanco {
  background-color: #f3f3f3; }

.fondo-gris-claro {
  background-color: #8e8b82; }

.fondo-verde {
  background-color: #649d66; }

.fondo-blanco-f {
  background-color: #fff; }

.btn {
  border-radius: 0px; }

html {
  scroll-behavior: smooth; }

header nav {
  font-family: roboto;
  font-weight: normal;
  font-size: 1rem;
  color: #343434; }

header .fondo-index {
  background-image: url(../fotos/fondos/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 10rem;
  padding-bottom: 5rem; }
  header .fondo-index .titulo-index {
    font-family: staatliches;
    font-weight: normal;
    font-size: 6rem;
    color: #f3f3f3;
    line-height: 1;
    letter-spacing: 10px; }

.fondo-nav {
  background-color: #f3f3f3; }

.pulsar {
  transition: 100ms ease;
  color: #343434; }
  .pulsar:hover {
    transform: scale(1.05);
    color: #649d66; }

.active {
  color: #649d66; }

.subtitulo {
  font-family: staatliches;
  font-weight: normal;
  font-size: 3.5rem;
  color: #8e8b82;
  font-style: italic; }

.parrafo-index {
  font-family: roboto;
  font-weight: 300;
  font-size: 1.3rem;
  color: #343434;
  font-style: italic; }

.ver-mas {
  font-family: staatliches;
  font-weight: normal;
  font-size: 1.2rem;
  color: #f3f3f3;
  background-color: #8e8b82; }
  .ver-mas:hover {
    background-color: #fff;
    color: #8e8b82; }

.subtitulo-blanco {
  font-family: staatliches;
  font-weight: normal;
  font-size: 2.5rem;
  color: #f3f3f3;
  letter-spacing: 10px; }

.parrafo-blanco {
  font-family: roboto;
  font-weight: 400;
  font-size: 1rem;
  color: #f3f3f3;
  font-style: italic;
  letter-spacing: 1px; }

.subtitulo-blog {
  font-family: roboto;
  font-weight: 400;
  font-size: 1rem;
  color: #343434;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-align: center; }

.contenedor-foto {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .contenedor-foto h6 {
    display: block; }
  .contenedor-foto a {
    text-decoration: none;
    color: #343434;
    position: absolute;
    text-align: center;
    font-family: staatliches;
    font-weight: normal;
    font-size: 3rem;
    color: #343434;
    font-style: italic;
    transition: 150ms;
    opacity: 0;
    margin: 0px;
    padding: 160px;
    background-color: #f3f3f3; }
    .contenedor-foto a:hover {
      opacity: .5; }

.modal-body h2 {
  font-family: staatliches;
  font-weight: normal;
  font-size: 3rem;
  color: #8e8b82;
  text-align: center;
  letter-spacing: .2rem;
  background-image: url(../fotos/fondos/fondo-modal.svg);
  background-size: 100%; }

.modal-body .subtitulo-modal {
  font-family: roboto;
  font-weight: italic;
  font-size: 1.2rem;
  color: #8e8b82;
  text-align: center; }

.modal-body .cuerpo-modal {
  font-family: roboto;
  font-weight: normal;
  font-size: 1rem;
  color: #8e8b82;
  text-align: left; }

.modal-body img {
  height: 5rem; }

.modal-body a {
  font-family: staatliches;
  font-weight: normal;
  font-size: 1.2rem;
  color: #649d66;
  text-align: rights;
  border: solid; }
  .modal-body a:hover {
    background-color: #8e8b82;
    color: #f3f3f3; }

.texto-modal {
  font-family: roboto; }

.box-viaje div h4 {
  font-family: staatliches;
  font-weight: normal;
  font-size: 1.3rem;
  color: #f3f3f3;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding-top: .5rem; }

.box-viaje div p {
  font-family: roboto;
  font-weight: normal;
  font-size: 1rem;
  color: #f3f3f3;
  margin: 0px;
  padding: 0px; }

.box-viaje div a {
  font-family: staatliches;
  font-weight: normal;
  font-size: 1rem;
  color: #343434; }

.box-viaje .text-card-centro {
  position: relative; }
  .box-viaje .text-card-centro .card-img-top {
    width: 100%; }
  .box-viaje .text-card-centro .card-title {
    font-family: staatliches;
    font-weight: normal;
    font-size: 2rem;
    color: #f3f3f3;
    text-transform: uppercase;
    padding-left: 1.2rem;
    letter-spacing: .5rem;
    position: absolute;
    top: 80%;
    background-color: #8e8b82; }

.box-viaje .card-body .card-text {
  font-family: roboto;
  font-weight: normal;
  font-size: 1rem;
  color: #f3f3f3;
  text-align: left; }

.box-viaje .card-body a {
  color: #f3f3f3; }
  .box-viaje .card-body a:hover {
    color: #8e8b82; }

.fondo-cohete {
  background-image: url(../fotos/fondos/fondo-cohete.svg);
  background-repeat: no-repeat;
  background-position: right, center;
  background-size: cover; }

.fondo-nosotras {
  background-image: url(../fotos/fondos/fondo-nosotras.jpg);
  background-size: cover;
  padding: 6rem;
  background-repeat: no-repeat;
  background-position: left, bottom; }

.titulo {
  font-family: staatliches;
  font-weight: normal;
  font-size: 6rem;
  color: #343434;
  line-height: 1;
  font-style: italic;
  padding-top: 3.5rem;
  letter-spacing: .3rem; }

.parrafo {
  font-family: roboto;
  font-weight: 400;
  font-size: 1.3rem;
  color: #8e8b82;
  text-align: right;
  font-style: italic;
  margin-right: 0px; }

.lista-nosotras {
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: 150ms ease; }
  .lista-nosotras:hover {
    transform: scale(1.02); }
  .lista-nosotras img {
    width: 18rem;
    margin: auto; }
  .lista-nosotras h2 {
    font-family: staatliches;
    font-weight: normal;
    font-size: 2rem;
    color: #343434;
    letter-spacing: .4rem;
    text-align: center;
    margin-top: 1rem; }
  .lista-nosotras p {
    font-family: roboto;
    font-weight: 300;
    font-size: 1rem;
    color: #343434;
    text-align: left;
    margin-top: 1rem; }
  .lista-nosotras div a {
    font-size: 1.2rem;
    color: #343434;
    margin-top: .5rem;
    margin-right: 1rem; }

.titulo-gallery h4 {
  font-family: roboto;
  font-weight: 300;
  font-size: 1.1rem;
  color: #f3f3f3;
  text-align: center;
  letter-spacing: .1rem; }

.titulo-gallery h3 {
  font-family: staatliches;
  font-weight: 400;
  font-size: 1.5rem;
  color: #f3f3f3;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-align: center; }

.grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: .5rem;
  grid-auto-flow: row dense;
  overflow: hidden; }
  .grid-gallery .grid-gallery-item:nth-child(1) {
    grid-column: span 1; }
  .grid-gallery .grid-gallery-item:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 1; }
  .grid-gallery .grid-gallery-item:nth-child(6n) {
    grid-column: span 3;
    grid-row: span 1; }
  .grid-gallery .grid-gallery-item:nth-child(7n) {
    grid-column: span 2;
    grid-row: span 2; }
  .grid-gallery .grid-gallery-item:nth-child(40) {
    grid-column: span 1;
    grid-row: span 1; }
  .grid-gallery .grid-gallery-item .grid-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.fondo-guia {
  background-image: url(../fotos/fondos/fondo-guia.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-size: cover; }
  .fondo-guia .titulo-guia {
    font-family: staatliches;
    font-weight: normal;
    font-size: 6rem;
    color: #f3f3f3;
    text-align: left;
    font-style: italic;
    line-height: 1; }

.presupuesto {
  font-family: roboto;
  font-weight: 300;
  font-size: 1.3rem;
  color: #343434;
  font-style: italic;
  text-align: center; }
  .presupuesto .txt-presupuesto {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .presupuesto h3 {
    font-family: roboto;
    font-weight: normal;
    font-size: 1.5rem;
    color: #f3f3f3;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center; }
  .presupuesto .card .card-title {
    font-family: roboto;
    font-weight: normal;
    font-size: 1.3rem;
    color: #8e8b82;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .presupuesto .card .card-text {
    font-family: roboto;
    font-weight: normal;
    font-size: 1rem;
    color: #8e8b82; }
  .presupuesto .card p a {
    color: #649d66;
    border-color: #649d66; }
    .presupuesto .card p a:hover {
      background-color: #649d66;
      color: #f3f3f3; }
  .presupuesto .text-colapse {
    font-family: roboto;
    font-weight: normal;
    font-size: 0.9rem;
    color: #8e8b82;
    padding: 0px;
    margin: 0px; }

.fondo-foco {
  background-image: url(../fotos/fondos/fondo-foco.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%; }

.itinerario h3 {
  font-family: staatliches;
  font-weight: normal;
  font-size: 2rem;
  color: #8e8b82;
  letter-spacing: .2rem;
  text-align: center; }

.itinerario h4 {
  font-family: roboto;
  font-weight: 300;
  font-size: 1.2rem;
  color: #343434;
  text-align: center;
  font-style: italic; }

.itinerario img {
  width: 70%;
  text-align: center;
  margin: auto;
  display: block; }

.itinerario .items h5 {
  font-family: roboto;
  font-weight: bold;
  font-size: 1.1rem;
  color: #343434; }

.itinerario .items p {
  font-family: roboto;
  font-weight: 300;
  font-size: 1.1rem;
  color: #343434;
  text-align: left; }

.itinerario .items h6 {
  font-family: roboto;
  font-weight: bold;
  font-size: 1.1rem;
  color: #343434; }

.itinerario .items a {
  display: inline;
  font-family: roboto;
  font-weight: 300;
  font-size: 1.2rem;
  color: #f3f3f3; }
  .itinerario .items a:hover {
    background-color: #f3f3f3;
    color: #8e8b82; }

.fondo-mapa {
  background-image: url(../fotos/fondos/fondo-map.jpg);
  background-repeat: no-repeat;
  background-position: left, bottom;
  background-size: cover; }

.parrafo-r {
  font-family: roboto;
  font-weight: 400;
  font-size: 1.3rem;
  color: #8e8b82;
  text-align: center;
  font-style: italic;
  padding-top: 7rem; }

.img-map {
  display: block;
  margin: auto;
  position: relative; }
  .img-map .titulo-centrado {
    font-family: staatliches;
    font-weight: normal;
    font-size: 6rem;
    color: #8e8b82;
    font-style: italic;
    letter-spacing: .3rem;
    position: absolute;
    top: 78%;
    left: 25%;
    transform: translate(-50%, -50%); }

.grupo-svg path {
  transition: .6s fill;
  fill: #343434;
  stroke: #8e8b82; }
  .grupo-svg path:hover {
    fill: #649d66; }

scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth; }

.continente {
  padding: 3rem; }
  .continente h3 {
    font-family: staatliches;
    font-weight: normal;
    font-size: 2.5rem;
    color: #343434;
    letter-spacing: 0.2rem;
    text-align: left; }
  .continente h4 {
    font-family: roboto;
    font-weight: 300;
    font-size: 1rem;
    color: #8e8b82;
    text-align: left; }
  .continente a {
    display: block;
    text-align: right;
    margin-right: 2rem; }
    .continente a .flecha {
      font-size: 2rem;
      color: #649d66; }
      .continente a .flecha:hover {
        color: #343434; }

.patron-ciudad {
  background-image: url(../fotos/fondos/ciudades.svg); }

.ciudades {
  text-align: center; }
  .ciudades h4 {
    font-family: roboto;
    font-weight: normal;
    font-size: 1.2rem;
    color: #343434;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center; }
  .ciudades .oscuro .card-title {
    font-family: roboto;
    font-weight: 300;
    font-size: 1rem;
    color: #343434;
    text-transform: uppercase; }
  .ciudades .oscuro .card-text {
    font-family: roboto;
    font-weight: 300;
    font-size: 0.7rem;
    color: #343434; }
  .ciudades .claro .card-title {
    font-family: roboto;
    font-weight: 300;
    font-size: 1rem;
    color: #f3f3f3;
    text-transform: uppercase; }
  .ciudades .claro .card-text {
    font-family: roboto;
    font-weight: 300;
    font-size: 0.7rem;
    color: #f3f3f3; }

.preguntas {
  background-image: url(../fotos/fondos/preguntas.svg); }
  .preguntas h3 {
    font-family: staatliches;
    font-weight: 300;
    font-size: 1.5rem;
    color: #f3f3f3;
    letter-spacing: 0.2rem;
    text-transform: uppercase; }
  .preguntas h4 {
    font-family: roboto;
    font-weight: 400;
    font-size: 1.2rem;
    color: #f3f3f3;
    text-align: center; }

.fondo-news {
  background-image: url(../fotos/fondos/fondo-news.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-size: 100%; }
  .fondo-news h1 {
    font-family: staatliches;
    font-weight: normal;
    font-size: 6rem;
    color: #f3f3f3;
    text-align: left;
    font-style: italic;
    line-height: 1; }

.fondo-linea {
  background-image: url(../fotos/blog/email.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 20rem; }

.formulario h3 {
  font-family: roboto;
  font-weight: 300;
  font-size: 1.2rem;
  color: #343434;
  font-style: italic; }

.formulario form {
  font-family: roboto;
  font-weight: 300;
  font-size: 1rem;
  color: #343434; }

.btn-form {
  color: #f3f3f3; }
  .btn-form:hover {
    background-color: #f3f3f3;
    color: #8e8b82;
    border-style: solid;
    border-color: #8e8b82; }

.subtitulo-news {
  font-family: roboto;
  font-weight: 400;
  font-size: 1rem;
  color: #8e8b82;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-align: center; }

.fondo-email {
  background-image: url(../fotos/fondos/fondo-email.svg);
  background-repeat: no-repeat;
  background-position: right, bottom;
  background-size: 100%; }

.avatar {
  text-align: left; }
  .avatar img {
    position: relative; }
  .avatar div {
    position: absolute;
    top: 20%;
    left: 35%;
    font-family: roboto;
    font-weight: 300;
    font-size: 1rem;
    color: #343434; }
    .avatar div h5 {
      font-weight: bold; }

footer {
  padding-top: 1.5rem;
  font-family: roboto;
  font-weight: 300;
  font-size: 1rem;
  color: #f3f3f3; }
  footer div {
    align-items: center; }
    footer div a {
      color: #f3f3f3; }

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr); } }

@media (max-width: 960px) {
  :root {
    font-size: 14px; }
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr); }
  .navbar {
    opacity: 0.8; }
  .navbar-toggler {
    font-size: 2rem; }
  .navbar-collapse {
    height: 100vh; }
  .navbar-nav {
    margin-top: 20vh; }
    .navbar-nav .nav-link {
      font-size: 2.3rem;
      font-weight: bold;
      margin-top: 2.5rem;
      margin-right: 0px !important; }
  .img-map .titulo-centrado {
    font-size: 5rem;
    position: relative;
    top: 0%;
    left: 0%;
    transform: none;
    margin-top: 2rem; }
  .fondo-mapa {
    padding-top: 5rem !important; } }

.presupuesto .card-deck .card {
  flex: 1 0 0%; }

@media (max-width: 768px) {
  :root {
    font-size: 13px; }
  section {
    text-align: center; }
  .card {
    margin: auto !important; } }

@media (max-width: 575px) {
  :root {
    font-size: 11px; }
  .fondo-nosotras {
    padding-right: 1rem; }
  .presupuesto .txt-presupuesto {
    padding: 1.5rem; }
  .enlace-continetes a {
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  .parrafo-r {
    padding-top: 1rem; }
  .continente h3 {
    font-size: 2rem; }
  .continente h4 {
    font-size: 0.8rem; }
  form {
    text-align: left; }
  .continente {
    padding: 1.5rem; }
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr); } }
